@model HandsOnMVC.Models.User
@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Create</h1>
@using (Html.BeginForm())
{
<table class="table ">
    <tr>
        <td>Name</td>
        <td>@Html.TextBox("Name")</td>
        <td>@Html.ValidationMessageFor(m => m.Name)</td>
    </tr>
    <tr>
        <td>Email</td>
        <td>@Html.TextBox("Email")</td>
        <td>@Html.ValidationMessageFor(m => m.Email)</td>
    </tr>

    <tr>
        <td>DOB</td>
        <td>@Html.TextBox("DOB")</td>
        <td>@Html.ValidationMessageFor(m => m.DOB)</td>
    </tr>
    <tr>
    <tr>
        <td>Mobile</td>
        <td>@Html.TextBox("Mobile")</td>
        <td>@Html.ValidationMessageFor(m => m.Mobile)</td>
    </tr>
    <tr>
        <td>Country</td>
        <td>
            @Html.DropDownListFor(m => m.Country,new SelectList(new String[] { "india", "China", "US", "UK" }))
        </td>
    </tr>


    <tr>
        <td>UserName</td>
        <td>@Html.TextBox("Uname")</td>
        <td>@Html.ValidationMessageFor(m => m.Uname)</td>
    </tr>
    <tr>
        <td>Password</td>
        <td>@Html.TextBox("Pwd")</td>
        <td>@Html.ValidationMessageFor(m => m.Pwd)</td>
    </tr>
    <tr>
        <td colspan="2">
            <input type="submit" value="Register" />
        </td>
    </tr>
</table>
}

