@model HandsOnMVC.Models.User;
@{
    ViewData["Title"] = "Login";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Login</h1>
@using(Html.BeginForm())
{
<table class="table table-bordered">
    <tr>
        <td>@Html.DisplayNameFor(m => m.Name)</td>
        <td>@Html.EditorFor(m => m.Name)</td>
        <td>@Html.ValidationMessageFor(m => m.Name)</td>
    </tr>
    <tr>
        <td>@Html.DisplayNameFor(m => m.Pwd)</td>
        <td>@Html.EditorFor(m => m.Pwd)</td>
        <td>@Html.ValidationMessageFor(m => m.Pwd)</td>
    </tr>
    <tr>
        <td colspan="2">
            <input type="submit" value="Login" class="btn btn-primary" />
        </td>
    </tr>
    <tr>
        <td>
            <span class="text-danger">@ViewData["err"]</span>
        </td>
    </tr>
</table>
}

